.App {
  text-align: center;
}
header{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  display : flex;
  flex-flow: column nowrap;
  align-items: center;
}
.horizontal-spacebetween{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.horizontal-spacearound{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.vertical-start{
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
}
.vertical-center{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.storeHours{
  display: flex;
  flex-flow: column nowrap;
}
.footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top : 30px;
  margin-bottom: 30px;
}


.dragfruit{
  width:18vw;
  height:42vh;
  flex-shrink:0;
  margin-left:1vw;
  margin-bottom: -2vh;
}
.description{
  width: 790px;
}
.whitecube{
  width: 10vw;
  height: 18vh;
  margin-left: 18vw;
  margin-right: -3vw;
  margin-top: 6vh;
  flex-shrink: 0;
}
.grape{
  
}
.downarrow{
}
.halfplatter{
  width: 30vw;
  height: 90vh;
  flex-shrink: 0;
}
.fullplatter{
  width: 23vw;
  height: 50vh;
  flex-shrink: 0;
}